*,
*::before,
*::after {
  box-sizing: border-box;
}
::-moz-selection {
  background: #bc2e1d;
  color: #ffffff;
  text-shadow: none;
}
::selection {
  background: #bc2e1d;
  color: #ffffff;
  text-shadow: none;
}
html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem;
  scroll-behavior: smooth;
  background-color: #f5f5f5;
}
html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}
blockquote,
q {
  quotes: none;
}
blockquote::before,
blockquote::after,
q::before,
q::after {
  content: none;
}
textarea {
  border-radius: 4px;
}
button,
input {
  border: 1px solid #c0c0c0;
  border-radius: 4px;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
button:focus,
input:focus {
  outline: none;
}
input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  line-height: inherit;
}
b,
strong {
  font-weight: bold;
}
img {
  max-width: 100%;
}
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
}
a {
  color: #333333;
  background-color: rgba(255, 255, 255, 0);
  text-decoration: none;
}
a:focus {
  outline: none;
}
.ant-table-content {
  min-width: 900px;
}
.ant-table-container {
  overflow-x: auto;
}
.ant-table-expanded-row.ant-table-expanded-row-level-1 {
  background-color: #f3f3f3 !important;
}
.ant-table-cell-row-hover {
  background: unset !important;
  cursor: pointer;
}